:root {
  /*colors*/
  --nav-MainText-Color: hsl(0, 0%, 100%);
  --sectionTitle-background-Color: hsl(0, 0%, 0%);
  --paragraph-text-color: hsl(0, 0%, 55%);
  --item-text-color: hsl(0, 0%, 80%);
  --copy-right-color: hsl(0, 0%, 41%);
  --menu-background-color: black;
  /*fonts*/
  --normal-text-font: 20px;
  --item-font: 2rem;
  --atalanta-weight: 400;
  --josefin-weight: 300;
}

*,
::after,
::before {
  box-sizing: border-box;
  max-width: 100%;
}

html,
body,#root {
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

header {
  width: 100%;
  display: flex;
  padding: 30px;
  flex-direction: column;
  background-image: url("assets/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--nav-MainText-Color);
  font-size: var(--normal-text-font);
}

#logo-navBar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#header-description{
  width: 50%;
  padding: 15px;
  font-size: 5.5rem;
  display: flex;
  align-items: center;
  border: 2px solid var(--nav-MainText-Color);
}

#imagesSection{
  display: flex;
  height: 80vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#imageSection-description{
  display: flex;
  height: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#creationTitle-button{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#creationTitle{
  font-size: 1.5rem;
}

#creationItems{
  display: grid;
  grid-template-columns: 1 1 1 1;
}


